In [1]:
import pandas as pd
print (pd.__version__)
pd.show_versions()

0.19.2

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.0.final.0
python-bits: 32
OS: Windows
OS-release: 7
machine: x86
processor: x86 Family 6 Model 23 Stepping 10, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.19.2
nose: 1.3.7
pip: 9.0.1
setuptools: 27.2.0
Cython: 0.25.2
numpy: 1.11.3
scipy: 0.18.1
statsmodels: 0.6.1
xarray: None
IPython: 5.1.0
sphinx: 1.5.1
patsy: 0.4.1
dateutil: 2.6.0
pytz: 2016.10
blosc: None
bottleneck: 1.2.0
tables: 3.2.2
numexpr: 2.6.1
matplotlib: 2.0.0
openpyxl: 2.4.1
xlrd: 1.0.0
xlwt: 1.2.0
xlsxwriter: 0.9.6
lxml: 3.7.2
bs4: 4.5.3
html5lib: None
httplib2: None
apiclient: None
sqlalchemy: 1.1.5
pymysql: None
psycopg2: None
jinja2: 2.9.4
boto: 2.45.0
pandas_datareader: None

In [25]:
import numpy as np

In [2]:
s = 4 
t = 6
print(s+t)

10

In [5]:
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print (data)
print (labels)

{'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'], 'age': [2.5, 3, 0.5, nan, 5, 2, 4.5, nan, 7, 3], 'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [11]:
df = pd.DataFrame(data,columns = ['animal','age','visits','priority'],index = labels)

In [12]:
print (df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [8]:
type(data)

dict

In [15]:
df.animal
print (df.describe())

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
animal      10 non-null object
age         8 non-null float64
visits      10 non-null int64
priority    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 280.0+ bytes

In [19]:
print (df.iloc[0:3,:])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [20]:
print (df.loc['a':'c'])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [21]:
print (df[['animal','age']])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [38]:
print (df[['animal','age']].iloc[[3,4,8]])
print (df.loc[df.index[[3,4,8]],['animal','age']])

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0
  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [24]:
print (df[df['visits'] > 3])

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [30]:
print (df[df['age'].isnull()])

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [35]:
print (df[(df['animal'] == 'cat') & (df['age'] < 3)])

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [39]:
print (df[(df['age'] >=2) & (df['age'] <=4)]) #2 and 4 Inclusive using bitwise Operators

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [42]:
df.loc[df.index[5],'age'] = 1.5

In [41]:
print (df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  1.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [43]:
print (df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  1.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [44]:
df.loc[df.index[6],'age'] = 2.0

In [45]:
print (df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  2.0       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [46]:
print (df['visits'].sum())

19

In [49]:
print (df.groupby(['animal','age']).mean())
print (df.groupby('animal')['age'].mean())

            visits
animal age
cat    1.5       3
       2.5       1
       3.0       3
dog    3.0       1
       5.0       2
       7.0       2
snake  0.5       2
       2.0       1
animal
cat      2.333333
dog      5.000000
snake    1.250000
Name: age, dtype: float64

In [50]:
df.shape

(10, 4)

In [51]:
df.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [56]:
df.loc['k',:] = ['snake',2.0,1,'no']

In [57]:
print (df)

  animal  age  visits priority
a    cat  2.5     1.0      yes
b    cat  3.0     3.0      yes
c  snake  0.5     2.0       no
d    dog  NaN     3.0      yes
e    dog  5.0     2.0       no
f    cat  1.5     3.0       no
g  snake  2.0     1.0       no
h    cat  NaN     1.0      yes
i    dog  7.0     2.0       no
j    dog  3.0     1.0       no
k  snake  2.0     1.0       no

In [60]:
df.groupby('animal').agg({'animal':len})

        animal
animal
cat          4
dog          4
snake        3

In [66]:
df.sort_values(by = 'age',ascending = False).sort_values('visits',ascending = False)

  animal  age  visits priority
b    cat  3.0     3.0      yes
f    cat  1.5     3.0       no
d    dog  NaN     3.0      yes
i    dog  7.0     2.0       no
e    dog  5.0     2.0       no
c  snake  0.5     2.0       no
j    dog  3.0     1.0       no
a    cat  2.5     1.0      yes
g  snake  2.0     1.0       no
k  snake  2.0     1.0       no
h    cat  NaN     1.0      yes

In [67]:
df['priority'] = [True if i == 'yes' else False for i in df['priority']]

In [68]:
print (df)

  animal  age  visits priority
a    cat  2.5     1.0     True
b    cat  3.0     3.0     True
c  snake  0.5     2.0    False
d    dog  NaN     3.0     True
e    dog  5.0     2.0    False
f    cat  1.5     3.0    False
g  snake  2.0     1.0    False
h    cat  NaN     1.0     True
i    dog  7.0     2.0    False
j    dog  3.0     1.0    False
k  snake  2.0     1.0    False

In [77]:
df.loc[df.index[[2,6,10]],'animal'] = 'python'

In [70]:
df

   animal  age  visits priority
a     cat  2.5     1.0     True
b     cat  3.0     3.0     True
c  python  0.5     2.0    False
d     dog  NaN     3.0     True
e     dog  5.0     2.0    False
f     cat  1.5     3.0    False
g  python  2.0     1.0    False
h     cat  NaN     1.0     True
i     dog  7.0     2.0    False
j     dog  3.0     1.0    False
k  python  2.0     1.0    False

In [93]:
xf = df.fillna({'age':2.0},inplace = True)

In [94]:
ptable = pd.pivot_table(xf,values = 'age',columns = ['visits'],index = 'animal',aggfunc = np.mean)

In [88]:
xf

   animal  age  visits priority
a     cat  2.5     1.0     True
b     cat  3.0     3.0     True
c  python  0.5     2.0    False
d     dog  2.0     3.0     True
e     dog  5.0     2.0    False
f     cat  1.5     3.0    False
g  python  2.0     1.0    False
h     cat  2.0     1.0     True
i     dog  7.0     2.0    False
j     dog  3.0     1.0    False
k  python  2.0     1.0    False

In [95]:
print (ptable)

visits   1.0  2.0   3.0
animal
cat     2.25  NaN  2.25
dog     3.00  6.0  2.00
python  2.00  0.5   NaN

In [97]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
print (df)

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

In [124]:
for i in df.index[1:]:
    if (df.loc[df.index[i],'A'] == df.loc[df.index[i-1],'A']):
        print (df.loc[df.index[i],'A'])

print (df.loc[df['A'].shift() != df['A']])

2
5
5
7
   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [112]:
dt = pd.DataFrame(np.random.random(size=(5, 3))) 
print (dt)

          0         1         2
0  0.587779  0.161361  0.101919
1  0.054516  0.043897  0.554193
2  0.296560  0.835267  0.362853
3  0.894064  0.314903  0.528240
4  0.559581  0.360572  0.944749

In [126]:
means = dt.mean(axis=1)

0    0.283686
1    0.217535
2    0.498227
3    0.579069
4    0.621634
dtype: float64

In [133]:
dt.sub(dt.mean(axis=1),axis=0)

          0         1         2
0  0.304093 -0.122326 -0.181767
1 -0.163019 -0.173639  0.336657
2 -0.201666  0.337040 -0.135374
3  0.314995 -0.264166 -0.050829
4 -0.062053 -0.261062  0.323115

In [135]:
type(dt)

pandas.core.frame.DataFrame

In [154]:
import numpy as np
import pandas as pd
d = np.random.random(size=(5, 10))
df = pd.DataFrame(d,columns=list('abcdefghij'))
z = df.sum(axis=0)
y = df.sum(axis=0).min()
print (z[z == y].index[0])

g

In [ ]:
print (len(df) - df.duplicated(keep=False).sum())
print (len(df.drop_duplicates(keep=False)))
for i in df.columns:
    dist = df[i].unique()
    print (len(dist))
print (df.sum().idxmin())